@* 
    File: Home/Index.cshtml
    Author: Nihar Shah
    Date: December 3, 2023
*@

@using System.Security.Claims;
@using WebApp.APIs.GoogleTranslate;
@using WebApp.APIs.AzureMaps;
@using WebApp.Models.AzureMaps.Weather;


@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var translator = new GoogleTranslate();
    
    var text = new List<string>() {
        "Our Story!",
        "Founded in 2006 in Kaohsiung, Taiwan; Gong Cha, which translates to (tribute tea for the emperor) opened its doors to the bubble tea market.",
        "Gong cha's success in Taiwan launched our stores all over the globe with customers loving our premium quality tea, products & services:",
        "Fresh Tea brewed throughout the day",
        "Pearls (bubbles) freshly prepared to perfection continuously through the day",
        "Tea sourced from the finest tea estates in Taiwan",
        "Strict quality controls for all ingredients",
        "Gong cha is known across the world for its signature Milk Foam. Its creamy, sweet and savory flavor balance and whipped texture make it the perfect complement to our freshly brewed teas. Our delicious milk foam is hand-crafted for each customer and made from the freshest milk and highest quality, signature ingredients."
    };

    var textTranslated = await translator.Translate(text);
}

@{
    ViewData["Title"] = "Our Story";
}

<link rel="stylesheet" href="~/css/story.css" />

<div class="text-center contrast">
    <h1 class="display-4">@textTranslated.Dequeue()</h1>
</div>
<h2></h2>

<section class="elementor-section contrast">
    <div class="story-container">
        <div class="story-column">
            <!-- Content for the first child div -->
            <p class="red-text">@textTranslated.Dequeue()</p>
            <p>@textTranslated.Dequeue()</p>
            <ul>
                <li>@textTranslated.Dequeue()</li>
                <li>@textTranslated.Dequeue()</li>
                <li>@textTranslated.Dequeue()</li>
                <li>@textTranslated.Dequeue()</li>
            </ul>
            <p>@textTranslated.Dequeue()</p>
        </div>
        
        <div class="story-column">
            <!-- Content for the second child div -->
            <div class="vertical-images">
                <img src="https://gongchausa.com/wp-content/uploads/2022/01/Kaohsiung-01-scaled.jpg" alt="Image 1">
                <img src="https://gongchausa.com/wp-content/uploads/2022/01/IMG_0075-768x512.jpg" alt="Image 2">
            </div>
        </div>
    </div>
</section>
