@{
    ViewData["Title"] = "Manager Page";
}

<div class="text-center">
    <h1 class="display-4">Manager Page</h1>
</div>

@model (List<Product>, List<Inventory>)

@if (Model.Item1 != null && Model.Item1.Count > 0) {
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Series</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Item1) {
                <tr>
                    <td contenteditable="true">@product.Id</td>
                    <td contenteditable="true">@product.Name</td>
                    <td contenteditable="true">@product.Price</td>
                    <td contenteditable="true">@product.Series</td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>No products found.</p>
}

@if (Model.Item2 != null && Model.Item2.Count > 0) {
    <table class="table">
        <thead>
            <tr>
                <th>Ingredient ID</th>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Model.Item2) {
                <tr>
                    <td contenteditable="true">@ingredient.IngredientId</td>
                    <td contenteditable="true">@ingredient.Id</td>
                    <td contenteditable="true">@ingredient.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>No products found.</p>
}