<link rel="stylesheet" href="~/css/_AccessibilityPartial.css" asp-append-version="true"/>
<script type="module" src="~/js/accessibility.js" asp-append-version="true"></script>

@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();

    var staicText = new List<string> {
        "Explore your accessibility options",
        "Toggle big cursor",
        "Cursor",
        "Toggle text size",
        "Text Size",
        "Toggle contrast",
        "Contrast",
        "Language"
    };

    var translatedText = await translator.Translate(staicText);
}

<div class="sidebar-image contrast">
    <img class="toggle-accessibility" src="~/img/accessibility1.png" alt="Accessibility"
        onclick="toggleSidebar()"
        onkeydown="if(event.keyCode == 13) toggleSidebar()"
        title=@translatedText.Dequeue()
        tabindex="0"
    />
</div>

<div class="sidebar sidebar-closed contrast">
    <div class="options">
        <div class="option">
            @* Big Cursor *@
            <button
                class="acc-btn toggle-big-cursor-btn"
                title="@translatedText.Dequeue()"
                tabindex="0"
            >@translatedText.Dequeue()
            </button>
        </div>
        <div class="option">
            @* Text Size *@
            <button
                class="acc-btn toggle-text-size-btn"
                title="@translatedText.Dequeue()"
                tabindex="0"
            >@translatedText.Dequeue()
            </button>
        </div>
        <div class="option">
            @* Contrast *@
            <button
                class="acc-btn toggle-contrast-btn"
                title="@translatedText.Dequeue()"
                tabindex="0"
            >@translatedText.Dequeue()
            </button>
        </div>

        @* Language *@
        <div class="option">
            <label for="language">@translatedText.Dequeue()</label>
            <select id="language">
                @{
                    var languages = translator.GetSupportedLanguages();
                    
                    foreach (var language in languages!) {
                        bool isSelected = language.Key == translator.CurrentLanguage;
                        if (isSelected) {
                            <option value="@language.Key" selected>@language.Value</option>
                        }
                        else {
                            <option value="@language.Key">@language.Value</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
</div>
