

@{
    ViewData["Title"] = "Menu Board Page";
}

<div class="text-center">
    <h1 class="display-4">Menu Board Page</h1>
</div>

<script src="~/js/menu.js" asp-append-version="true"></script>
@using WebApp.Models.UnitOfWork
@model (List<Product> products, List<ProductIngredients> prodIngredients, List<string> productCategories)

<div class="row">
    <div class="col-md-6">
        <form method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search products">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model.Item1 != null && Model.Item1.Count > 0)
{
    <h2>Products</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Series</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Item1)
            {
                <tr class="product-row" data-category="@product.Series">
                    <td>@product.Id</td>
                    <td>
                        <a href="@Url.Action("ProductDetail", "MenuBoard", new { id = product.Id })">@product.Name</a>
                    </td>
                    <td>@product.Price</td>
                    <td>@product.Series</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products found.</p>
}

@if (Model.Item2 != null && Model.Item2.Count > 0)
{
    <h2>Product Ingredients</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product Ingredient ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pingredient in Model.Item2)
            {
                <tr>
                    <td>@pingredient.ProductId</td>
                    <td>@pingredient.IngredientIds</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products ingredients found.</p>
}

@if (Model.productCategories != null && Model.productCategories.Count > 0)
{
    <h2>Product Categories</h2>
    <div class="category-buttons">
        @foreach (var category in Model.productCategories)
        {
            <button class="btn btn-primary category-button" data-category="@category">@category</button>
        }
    </div>
}
