

@{
    ViewData["Title"] = "Menu Board Page";
}

<div class="text-center">
    <h1 class="display-4">Menu Board Page</h1>
</div>

<script src="~/js/menu.js"></script>
@model (List<Product>, List<ProductIngredients>)

<div class="row">
    <div class="col-md-6">
        <form method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search products">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model.Item1 != null && Model.Item1.Count > 0)
{
    <h2>Products</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Series</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Item1)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Series</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products found.</p>
}

@if (Model.Item2 != null && Model.Item2.Count > 0)
{
    <h2>Product Ingredients</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product Ingredient ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pingredient in Model.Item2)
            {
                <tr>
                    <td>@pingredient.ProductId</td>
                    <td>@pingredient.IngredientIds</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products ingredients found.</p>
}
