
@{
    ViewData["Title"] = "Cashier Page";
}

<link rel="stylesheet" href="~/css/customer.css" asp-append-version="true" />
<script type="module" src="~/js/cashier.js" asp-append-version="true"></script>
<script type="module" src="~/js/cart.js" asp-append-version="true"></script>

@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
    var texts = new List<string> { "Menu", "Products", "Back", "Item added to cart", "View Cart", "Continue Shopping" };
    var translatedTexts = await translator.Translate(texts);
}

<h2 class="contrast">@translatedTexts.Dequeue()</h2>
            
<!-- Category bar -->
<div class="text-center contrast" style="display: flex; justify-content: space-around;">
    <button endpoint="LoadProductsBySeries" class="category-btn active">@translatedTexts.Dequeue()</button>
</div>

<div class="content-container contrast">
    <button class="back-btn">@translatedTexts.Dequeue()</button>
    <div class="data-container"></div>
    <div class="customization-menu"></div>
</div>

<div class="cart-msg contrast" style="display: none;">
    <div class="cart-msg-container">
        <div class="cart-msg-text">
            <p>@translatedTexts.Dequeue()</p>
        </div>
        <div class="cart-msg-btns">
            <button class="cart-msg-btn" action="View Cart">@translatedTexts.Dequeue()</button>
            <button class="cart-msg-btn" action="Continue Shopping">@translatedTexts.Dequeue()</button>
        </div>
    </div>
</div>
