@using WebApp.Models.UnitOfWork
@using WebApp.Models.ViewModels
@using WebApp.Data
@model CustomizationViewModel

@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
}

<div class="customization-img-container">
    <img src="@Model.SelectedProduct!.ImgUrl" />
    <p>@await translator.TranslateText(Model.SelectedProduct!.Name)</p> <!-- Product name (May remove p tag) -->
</div>
@{
    Model.SeriesInformation!.Reverse();
    List<string> seriesNames = new List<string>();
}
@foreach(SeriesInfo seriesInfo in Model.SeriesInformation!) {
    <div class="customization-title" id="@seriesInfo.Name">
        @await translator.TranslateText(seriesInfo.Name)
    </div>
    <div class="customization-btn-container">
        @foreach(Product product in Model.Products!) {
            if (product.Series == seriesInfo.Name) {     
                if (seriesNames.Contains(product.Series) || seriesInfo.Name != "Size") {
                    <button class="customization-btn product" id="@product.Id" series="@product.Series" multiselect="@seriesInfo.MultiSelectable">
                        <p>@await translator.TranslateText(product.Name)</p>
                    </button>
                } else {
                    <button class="customization-btn product active" id="@product.Id" series="@product.Series" multiselect="@seriesInfo.MultiSelectable">
                        <p>@await translator.TranslateText(product.Name)</p>
                    </button>
                    seriesNames.Add(product.Series);
                }
            }
        }
    </div>
}
<button class="add-to-cart-btn" id="@Model.SelectedProduct!.Id">@await translator.TranslateText("Add to Cart")</button>
