@* 
    File: Views/Customer/Index.cshtml
    Author: Griffin Beaudreau
    Date: November 24, 2023
    Purpose: The main page for the customer portal. This page will display the customer's
             information, as well as a list of their orders. The customer can also use this
             page to view their cart, and to view their account information.
*@

@{
    @* Layout = "~/Views/Shared/_CustomerLayout.cshtml"; *@
}

<link rel="stylesheet" href="~/css/customer.css" asp-append-version="true" />
<script type="module" src="~/js/customer.js" asp-append-version="true"></script>
<script type="module" src="~/js/cart.js" asp-append-version="true"></script>

@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
    var texts = new List<string> { "Menu", "Categories", "Best Sellers", "Favorites", "Back", "Item added to cart", "View Cart", "Continue Shopping" };
    var translations = await translator.Translate(texts);
}

<h2 class="contrast">@translations.Dequeue()</h2>
            
<!-- Category bar -->
<div class="text-center contrast" style="display: flex; justify-content: space-around;">
    <button endpoint="LoadCategories" class="category-btn active">@translations.Dequeue()</button>
    <button endpoint="LoadBestSellers" class="category-btn">@translations.Dequeue()</button>
    <button endpoint="LoadFavorites" class="category-btn">@translations.Dequeue()</button>
</div>

<div class="content-container contrast">
    <button class="back-btn">@translations.Dequeue()</button>
    <div class="data-container"></div>
    <div class="customization-menu"></div>
</div>

<div class="cart-msg contrast" style="display: none;">
    <div class="cart-msg-container">
        <div class="cart-msg-text">
            <p>@translations.Dequeue()</p>
        </div>
        <div class="cart-msg-btns">
            <button class="cart-msg-btn" action="View Cart">@translations.Dequeue()</button>
            <button class="cart-msg-btn" action="Continue Shopping">@translations.Dequeue()</button>
        </div>
    </div>
</div>
