@* 
    File: Views/Cart/_ProductPartial.cshtml
    Author: Griffin Beaudreau
    Date: November 24, 2023
    Purpose: This partial view is used to display a single product in the cart.
*@

@using WebApp.Models.Cart
@using WebApp.APIs.GoogleTranslate
@{
    var translator = new GoogleTranslate();
}
@model List<Item>

<div class="products-container">
    @foreach (var item in Model.Select((value, index) => new { value, index})) {
        <div class="product">
            <button class="remove-product-btn" item-index="@item.index" title="@await translator.TranslateText("Remove item")">X</button>
            <div class="img-container">
                <img src="@item.value.Product.ImgUrl"/>
            </div>

            <!--Product Info-->
            <div class="product-info-container">
                <div class="product-name">
                    <h3>@await translator.TranslateText(item.value.Product.Name)</h3>
                </div>
                <!--Product Options-->
                <div class="product-options-container">
                    <p class="product-option-size">@await translator.TranslateText(item.value.Options.FirstOrDefault(o => o.Series == "Size")?.Name!)</p>
                    <div class="product-option-customizations">
                        <p>
                            @{
                                string? prevSeries = null;
                                var optionsText = new System.Text.StringBuilder();

                                foreach (var option in item.value.Options.Where(o => o.Series != "Size")) {
                                    if (prevSeries != null && option.Series != prevSeries) {
                                        optionsText.Append(" | ");
                                    } else if (!string.IsNullOrEmpty(prevSeries)) {
                                        optionsText.Append(", ");
                                    }

                                    optionsText.Append(option.Name);
                                    prevSeries = option.Series;
                                }
                            }
                            @await translator.TranslateText(optionsText.ToString())
                        </p>
                    </div>
                </div>
            </div>
                    
            <div class="edit-product-container">
                <div class="edit-center-container">
                    <div class="edit-product-count">
                        <button class="edit-product-count-btn" item-index="@item.index" title="@await translator.TranslateText("Decrease quantity")">-</button>
                        <p class="product-count">@item.value.Quantity</p>
                        <button class="edit-product-count-btn" item-index="@item.index" title="@await translator.TranslateText("Increase quantity")">+</button>
                    </div>
                    @* <form method="post" asp-controller="Cart" 
                        asp-action="EditOptions" asp-route-index=@item.index>
                        <button class="edit-product-options-btn"
                            item-index="@item.index"
                            title="@await translator.TranslateText("Edit item customizations")"
                            type=submit>
                        @await translator.TranslateText("Edit")
                        </button>
                    </form> *@
                    <button class="edit-product-options-btn" id="@item.value.Product.Id" endpoint="EditOptions"
                        customizations="@item.value.Options">
                        @await translator.TranslateText("Edit")
                    </button>
                    
                    <p class="product-cost">@item.value.Price().ToString("C")</p>
                    </div>
                
            </div>
        </div>
    }
</div>
