@* 
    File: Views/Cart/Index.cshtml
    Author: Griffin Beaudreau
    Date: November 24, 2023
    Purpose: This view is responsible for displaying the cart page.
*@

<link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/customer.css" asp-append-version="true" />
<script type="module" src="~/js/cart.js" asp-append-version="true"></script>

@using WebApp.Models.Cart
@using WebApp.APIs.GoogleTranslate
@model Cart

@{
    @* Layout = "~/Views/Shared/_CartLayout.cshtml"; *@
    var translator = new GoogleTranslate();

    var texts = new List<string> {
        "Continue Shopping",
        "Your cart is empty!",
        "Looks like you haven't added anything to your cart yet.",
        "Click the button below to begin shopping.",
        "Order Now",
        "Your order has been placed",
        "Thank you for shopping with us!",
        "Click the button below to begin a new order",
        "New Order"
    };

    var translations = await translator.Translate(texts);
}

<link rel="stylesheet" href="~/css/cart.css" />

<form method="get" asp-controller="Customer" asp-action="Index">
    <button class="cartlayout-back contrast" hidden type="submit">@translations.Dequeue()</button>
</form>
<div class="cart-container contrast" hidden>
    <!-- Load product partial view -->
    @await Html.PartialAsync("_ProductPartial", Model.Items)
   
    <!-- Load checkout partial view -->
    @await Html.PartialAsync("_CheckoutPartial", Model.TotalCost().ToString("C"))
</div>

<div class="emptycart-message contrast" hidden>
    <h1>@translations.Dequeue()</h1>
    <p>@translations.Dequeue()</p>
    <p>@translations.Dequeue()</p>
    <form method="get" asp-controller="Customer" asp-action="Index">
        <button class="cartlayout-back1" type="submit">@translations.Dequeue()</button>
    </form>
</div>

<div class="checkout-message contrast" hidden>
    <h1>@translations.Dequeue()</h1>
    <p>@translations.Dequeue()</p>
    <p>@translations.Dequeue()</p>
    <form method="get" asp-controller="Customer" asp-action="Index">
        <button class="cartlayout-back2" type="submit">@translations.Dequeue()</button>
    </form>
</div>

<div class="city-background-container">
    <img src="~/img/city-background.png">
</div>
